@import "./module";
@import "./mixin";
header{
    @extend .flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    height: 92px;
    font-size: 25px;
    .left{
        @extend .flex;
        gap: 10px;
        .hamburger-menu{
            padding: 5px;
           i{
            @extend .icon;
           }
        }
        img, span {
            cursor: pointer;
        }
        span{
            @include laptop{
                display: none;
             }
        }

    }
    .middle{
        width: 100%;
       form{
        @extend .flex;
        justify-content: space-between;
        background-color: $search-input;
        padding: 6px 10px;
        border-radius: 30px;
        max-width: 560px;
        @include laptop {
            max-width: 500px;
        }
        .search{
            @extend .flex;
            gap: 10px;
            input{
                border: none;
                outline: none;
                width: 450px;
                background-color: transparent;
                font-size: 18px;
            }
            i{
                @extend .icon;
                @include laptop{
                    margin-left: 40px;
                }
            }
        }
        .settings{
            i{
                @extend .icon;
                @include laptop{
                   display: none;
                }
            }
        }
       }

    }
    .right{
        @extend .flex;
        gap: 10px;
        i{
            @extend .icon;
            @include laptop {
                display: none;
                }
        }
        img{
            height: 37px;
            width: 37px;
            border-radius: 50%;
        }
    }
}

