@import "./variables";
@import "./module";

main {
  background-color: $mails-background;
  border-radius: 8px;
  flex-grow: 1;
@include laptop{
    padding: 0 5px 0 0;
}
  .top {
    @extend .flex;
    justify-content: space-between !important;
    padding: 5px 10px;
    .left {
      display: flex;
      gap: 8px;
      i {
        @extend .icon;
      }
      .checkbox {
        display: flex;
        gap: 5px;
        padding-left: 20px;
        margin-right: 20px;
      }
    }
    .right {
      @extend .flex;
      margin-right: 10px;
      gap: 8px;
      i {
        @extend .icon;
      }
      .keyboard {
        display: flex;
        margin-left: 20px;
      }
      .passive {
        color: rgb(174, 174, 174);
      }
    }
  }
  .mails-area {
    height: 80vh;
    .mail{
        height: 41px;
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 10px;
        font-size: 16px;
        background-color: $box-color;
        padding: 10px;
        border: 1px solid rgb(218, 218, 218);
        transition: all .7s;
        &:hover{
            box-shadow: 0 0 10px rgb(211, 211, 211);
            .right{
                .message-date{
                    display:none;
                }
                .delete{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }
        .left{
            @extend .flex;
            justify-content: start !important;
            gap: 5px;
            i{
                @extend .icon;
                width: 20px;
                height: 20px;
            }
            span{
                white-space: nowrap;
            }
        }
        .right{
            @extend .flex;
            justify-content: space-between;
            font-size: 17px;
            padding-right: 20px;
            .message-title{
                font-weight: bold;
                white-space: nowrap;
            }
            .message-desc{
                margin-left: 14px;
                width: 100%;
            }
            .message-date{
                font-size: 15px;
                white-space: nowrap;
            }
            .delete{
                background: none;
                justify-content: center;
                font-size: 17px;
                cursor: pointer;
                width: 100px;
                display: none;
                position: relative;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                }
            }
        }
    }
  }
}
aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    img{
        width: 28px;
        height: 28px;
    }
    span{
        background-color: gray;
        height: 2px;
        width: 25px ;
    }
    @include laptop{
        display: none;
    }
}
